@model Noktalı_Virgül.Models.ViewModels.HomeViewModel
@using Noktalı_Virgül.Models.VeriTabani
@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tblKitap kitap = ViewBag.kitap;
    Boolean favoriDurumu = false;
    var kullaniciAdi = User.Identity.Name.Split(' ');
    HizliProjeEntities9 db = new HizliProjeEntities9();
    Boolean favorilereEkli = false;
    Boolean sonuc = false;
    int temp = 0;
    Boolean sonucGoster()
    {
        return sonuc = !kullaniciAdi.Equals("");
    }
    int id = 0;
    if (sonucGoster())
    {
        try
        {
            id = Convert.ToInt32(kullaniciAdi[3]);
        }
        catch (Exception)
        {

            id = 0;
        }
    }

}
<script src="http://code.jquery.com/jquery-1.11.0.js"
        integrity="sha256-zgND4db0iXaO7v4CLBIYHGoIIudWI5hRMQrPB20j0Qw="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function myfunction() {

        $(".SepeteAt").click(function () {
            var uid = $(this).attr("name");
            
           $.ajax(
                {
                    type: "POST",
                    url: "/Urun/SepeteEkle",
                    data: { id: uid },
                    success: function () {
                        alert("ürün sepete eklendi")

                    },
                    error: function () {
                        alert("ürün sepete eklenmedi!");
                    }
                });

        });
        $("a.FavoriEkle").click(function (){
            var uid2 = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("FavorilereEkle", "Urun")',
                dataType:'json',
                data: { id: uid2 },
                success: function (gelenveri) {
                    if (gelenveri == "hatalı") {
                        window.location = "/Login/Login";
                    }
                    else {
                        location.reload();
                    }


                },
                error: function (hata) {

                }
            });
            });
        $("a.FavoriCikar").click(function () {
            var uid2 = $(this).attr("id");
           $.ajax({

                type: "POST",
                url: "/Urun/FavorilerdenCikar",
                data: { id: uid2 },
                success: function () {

                    location.reload();
                },
                error: function () {
                }
            });
        });
    });
</script>
<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img style="height: 400px;" src="~/Content/images/kitaplar/@kitap.KapakResmi" alt="" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h1>@kitap.KitapAdi</h1>
                <h2>Yazar: @kitap.Yazar</h2>
                <p>ISBN NO: @kitap.ISBNNo</p>
                <p>Yayın Evi: @kitap.tblYayinEvi.YayinEviAdi</p>
                <p>Sayfa Sayısı: @kitap.SayfaSayisi</p>
                <p>Basım Yılı: @kitap.BasimYili</p>

                <span>
                    <span>₺@kitap.Fiyati</span>
                    @if (kitap.StokDurumu == true)
                    {
                        <button class="btn btn-default add-to-cart"><a class="SepeteAt" name="@kitap.KitapID"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a></button>
                    }
                    else
                    {
                        <button class="btn btn-default add-to-cart"><a>Tükendi</a></button>
                    }

                    @if (kullaniciAdi != null)
                    {
                        foreach (var k in (List<tblFavoriler>)ViewBag.favoriList)
                        {
                            if (Convert.ToInt32(kullaniciAdi[3]) == k.MusteriID && kitap.KitapID == k.UrunID)
                            {
                                favoriDurumu = true;
                                break;
                            }
                        }
                    }
                    @if (favoriDurumu == true)
                    {
                        <button type="button" class="btn btn-fefault cart">
                            <a id="@kitap.KitapID" class="FavoriCikar">
                                <i class="fa fa-shopping-cart"></i>
                                Favorilerden Çıkar
                            </a>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-fefault cart">
                            <a class="Favoriekle" id="@kitap.KitapID">
                                <i class="fa fa-shopping-cart"></i>
                                Favorilere Ekle
                            </a>
                        </button>
                    }
                </span>
                @if (kitap.StokDurumu == true)
                {
                    <p><b>Stok Durumu:</b> Mevcut</p>
                }
                else
                {
                    <p><b>Stok Durumu:</b> Stokta Yok</p>
                }
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">

        <div class="tab-content">

            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                    <p>@kitap.Aciklama</p>
                </div>
            </div>

        </div>
    </div><!--/category-tab-->
    <div class="recommended_items">
        <!--recommended_items-->
        <h2 class="title text-center">Bu Ürünü Alan Bunları da Aldı</h2>
        @foreach (var item in Model.ister)
        {
            temp++;
            tblKitap k = db.tblKitap.Find(item.KitapID);
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center" style="height: 525px;">
                            <a href="/Urun/UrunDetay/@k.KitapID"><img style="height: 400px;" src="~/Content/images/kitaplar/@k.KapakResmi" alt="" /></a>
                            <h2>₺@k.Fiyati</h2>
                            <p>@k.KitapAdi</p>
                            @if (k.StokDurumu == true)
                            {
                                <button class="btn btn-default add-to-cart"><a class="SepeteAt" name="@k.KitapID"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a></button>
                            }
                            else
                            {

                                <button class="btn btn-default add-to-cart">Tükendi</button>
                            }


                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            @if (sonucGoster())
                            {
                                if (Model.Favoriler != null && kullaniciAdi != null)
                                {
                                    foreach (var fav in Model.Favoriler)
                                    {
                                        if (fav.UrunID == k.KitapID && fav.MusteriID == id)
                                        {
                                            favorilereEkli = true;
                                            break;
                                        }
                                        else
                                        {
                                            favorilereEkli = false;
                                        }
                                    }
                                }

                            }

                            @if (favorilereEkli == false)
                            {
                                <li><a class="Favoriekle" id="@k.KitapID"><i class="fa fa-plus-square"></i>Favorilere Ekle</a></li>
                            }
                            else
                            {
                                ///Urun/FavorilereEkle/@kitap.KitapID
                                <li><a id="@k.KitapID" class="FavoriCikar"><i class="fa fa-plus-square"></i>Favorilerden Çıkar</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            if (temp==4)
            {
                break;
            }
        }
    </div>
</div>
